.regis{
    height: 900px;
  width: 90%;
  background-color:purple;
  max-width: 100rem;
  margin: 2rem auto;
  padding: 2rem;
}

.label{
    color: aliceblue;
    font-size: 30px;
  
  }
  
  .backdrop{
    background-color: black;
  }
  
  .input{
    font-size: 30px;
  }
  .actions {
    text-align: center;
  }
  
  .button{
    font-size: 30px;
  }
  